<h2 class="page-header"> Player</h2>
<%- include('_form_fields') %> 
<form action="/players/<%= player.id %>?_method=PUT" method="POST">
<br>
<form>
<h2> Club</h2>
    <input type="text" name="club" value="<%= player.club %>">
  <a href="/views/players/<%= player.id %>">
    <button class="btn btn-danger" a href="/players/<%= player.id %>">Cancel</button>
<button class="btn btn-primary" type = "submit">Update</button>
</form>


