<h2 class="page-header"><% player.name%> </h2>
<div class="btn-row"> 
<div> Name: <%= player.name %> </div> 
<div> club: <%= player.club %> </div> 
<div> position: <%= player.position %> </div> 
<div> Nationality: <%= player.nationality %> </div> 
<div> age: <%= player.age %> </div> 

<a class="btn btn-primary" href ="/players/<%= player.id %>/edit"> Edit</a>